
@use 'sass:math';

*{
    padding: 0;
    margin: 0;
    border: 0;
}
// Body style
// .body{
    
// }
.intro, .technologies, .lets_work, .AboutMe{
    padding: $base-padding-bg;
    padding-top: 100px;
    padding-bottom: 100px;
}
// TOP NAVBAR
.navbar{
    padding: $base-padding-bg;
    display: flex;
    justify-content: space-between;
    p{
        font-size: $font-size-xxl;
        color: map-get($colors, "secondary");
    }
    ul{
        @include list-link;
        a{
            color: inherit !important
        }
    }
}


// INTRO / BANNER SIDE
.intro{
    p{
        text-align: left;
        font-size: $font-size-xxl;
        span{
            color: $secondary;
            font-weight: bolder;
        }
    }
    div{
        margin-top: $base-margin;
        display: flex;
        justify-content: space-between;
        width: fit-content;
        a{
            @include link-button;
            &.github{
                @include btn-color(github);
                margin-right: 24px;
            }
        }

    }
}

// Cards

.cards{

    .aboutProject{
        margin-top: 32px;
        @include normal_text;
        span{
            font-weight: bold;
            font-size: $font-size-lg;
            line-height: 32px;
            text-decoration-line: underline;
            color: $secondary;
        }
    }
}

// Technologies 

.technologies{
    background-color: #FCFCFC;
    p{
            @include title
        }
    }
    .light{
        background-color: #FFFFFF;
    }
    .split-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        grid-column-gap: 20px;

        margin-top: 56px;
        p{
            font-weight: normal;
            font-size: $font-size-lg;
            color: #0D152E;
            &.normal_text{
                @include normal_text;
                max-width: 384px;
            }
        }
    }


    // AboutMe

    .AboutMe{
        img{
            width: 100%;
            height: 100%;
            max-width: 480px;
            max-height: 590px;
        }
        p{
            @include normal_text;
            &.title{
                @include title;
                padding-bottom: $base-padding;
            }
        }
        .space{
            margin-top: 50px;
        }
        .links{
            margin-top: 16px;
            @include list-link;
            width: fit-content;
            
            a{
                @include normal_text;
                background-image: url(../images/arrow.png);
                background-position: 100%;
                background-size: 15px;
                background-repeat: no-repeat;
                padding-right: 15px;
                margin-right: 60px;
                color: $info;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    // FOOTER
    .Footer{
    .lets_work{
        background-color:$info;
        text-align: center;
        color: map-get($colors, 'white');
        .big_text{
            font-size: $font-size-xl;
            font-weight: bolder;
        }
        div{
            margin-top: 40px;
            a{
                @include link-button;
            }
        }
    }
    .copyright{
        padding: $base-padding-bg;
        display: flex;
        justify-content: space-between;
    }
}
